{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "edge": "15",
          "firefox": "45",
          "chrome": "55",
          "safari": "10"
        },
        "useBuiltIns": "usage",
        "corejs": "3.6.5"
      }
    ]
  ]
}