.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background: #3d3d3d;
  visibility: hidden;
  opacity: 0;
  transition: opacity .55s ease;
  display: flex;
  align-items: center;
  justify-content: center;

  &--active {
    visibility: visible;
    opacity: 1;
  }

  &__btn-close {
    @include centerFlex;
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 1;
    width: 3rem;
    height: 3rem;
    border-radius: .4rem;
    background: rgba(0, 0, 0, .6);
  }

  &__figure {
    width: auto;
    height: 100vh;
    transition: all .75s ease;
    transform-origin: 0 0;
    transform: scale(1) translate(0, 0);
    cursor: grab;
  }

  &__thumbnails {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1rem;
    width: 8.5rem;
    height: 50vh;
    overflow: hidden;
    transition: all .4s ease-in-out;
  }

  &__thumbnails-item {
    width: 100%;
    background: #fff;
    border: .5rem solid rgba(0, 0, 0, .8);

    &:not(:first-child) { border-top: none; }

    img {
      max-width: 100%;
      object-fit: contain;
    }
  }

  &__figure.zoomed + &__thumbnails {
    @include respond('mid') {
      opacity: .35;
      transform: translateY(-50%) translateX(20vw);
    }
  }

  &__btn-group {
    position: absolute;
    z-index: 15;
    bottom: 1rem;
    right: 1rem;
    padding: .4rem;
    border-radius: .5rem;
    background: #2b2b2b;
  }

  &__btn-zoom {
    @include centerFlex;
    width: 2.15rem;
    height: 2.15rem;
    background: #c2c2c2;
    border-radius: 2px;

    @include respond('mid') {
      width: 3.5rem;
      height: 3.5rem;
    }

    &:disabled { background: #5c5c5c; }

    &:first-child { margin-bottom: .4rem; }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: contain;

    // &--main { width: auto; }
  }
}

.zoom-active { cursor: grabbing; }