.image-thumbnails {
  display: flex;
  width: 95%;
  height: 100px;

  @include respond('sm') {
    height: 20vw;
  }
  
  &__item {
    transition: opacity .5s ease-in-out;
    opacity: .5;

    img {
      max-height: 100%;
      max-width: 100%;
      object-fit: contain;
    }

    &:hover,
    &:focus,
    &--active { opacity: 1; }
  }
}