*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

button {
  border: none;
  cursor: pointer;
  background: transparent;
}

[tabindex="0"] { cursor: pointer; }

.container {
  max-width: 114rem;
  margin: 0 auto;
}

.images {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem 0;
}

.image-preview {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.image-preview .image-preview__images {
  width: 45%;
  position: relative;
}

.image-preview .image-preview__images .swiper-slide .easyzoom-flyout img {
  min-height: 100%;
  min-width: 100%;
  cursor: crosshair;
}

/* .image-preview .image-preview__zoomimage {
  position: absolute;
  z-index: 15;
  width: 100%;
  height: 100%;
} */

/* .image-preview .image-preview__figure {
  width: 100%;
  height: auto;
  min-height: 50rem;
  position: relative;
  overflow: hidden;
} */

.image-thumbnails { display: flex; }

.image-thumbnails .image-thumbnails__item {
  width: 7.5rem;
  height: auto;
  transition: opacity .5s ease-in-out;
}

.thumb-active,
.image-thumbnails__item:hover,
.image-thumbnails__item:focus { opacity: .5; }

.btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.btn.btn--prev { left: 0; }
.btn.btn--next { right: 0; }
.btn.btn--disabled { opacity: .7; }

.icon {
  fill: #a8a8a8;
  width: 2.65rem;
  height: 2.65rem;
}

.btn-zoom {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  width: 4rem;
  height: 4rem;
  background: rgba(255, 255, 255, .5);
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: #fff;
}

.loader .loader__spinner {
  display: inline-block;
  width: 4.5rem;
  height: 4.5rem;
  border-width: .2rem;
  border-style: solid;
  border-radius: 50%;
  border-color: #f5f4b6 #f5f4b6 #f5f4b6 #a8a8a8;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}

.swiper-lazy-loading + .loader { display: inline-block; }
.swiper-lazy-loaded + .loader { display: none; }

.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background: rgba(0, 0, 0, .5);
  visibility: hidden;
  opacity: 0;
  transition: opacity .55s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fullscreen .fullscreen__thumbnails {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1rem;
}

.fullscreen .full

.btn-zoom,
.fullscreen .fullscreen__btn-close {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fullscreen .fullscreen__btn-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 1;
  width: 3rem;
  height: 3rem;
  border-radius: .4rem;
  background: rgba(0, 0, 0, .6);
}

.fullscreen .fullscreen__figure {
  width: auto;
  height: 100vh;
}

.fullscreen .fullscreen__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.fullscreen.visible {
  visibility: visible;
  opacity: 1;
}